.container {
    border-color: white;
    border: var(--border);
    margin: 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
    padding: 5px;
}
