:local(section) {
    background-color: yellowgreen;
}
:local(header) {
    display: flex;
    background-color: darkgreen;
    color: black;
}

:local(h1) {
    flex: 3;
    padding-left: 20px;
}

:local(user) {
    flex: 1;
}

:local(nav) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

:local(.eventItem) {
    flex: 1
}

:local(.eventItem) {
    background-color: #4CAF50; /* Green */
    border: none;

}

:local(.eventItem a) {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: lightgoldenrodyellow;
    padding: 15px 32px;
}
