h1 {
    font-size: 5.5vw;
    padding-left: 5px;
    font-family: sans-serif;
}
.headerWrapper {
    width: 100%;
    border-bottom: var(--border);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
